*{
font-family:serif, "Times New Roman", Times ;
}
.outer_div{
	height: auto;
	width: 70%;
	background-color: #0E76BC;
	padding:10px 30px;
	text-align:center;
	margin:auto;
	border-radius:5px;
}
.inner_top_div{
	color:#FFFFFF;
	font-weight:bold;
	font-size:15px;
	padding-left:150px;
}

.bottom_div{
	padding:10px 30px;
	text-align:center;
}
.bottom_inner_div{
	background-color: #3FA9F1;
	width:500px;
	margin:auto;
	border-radius:6px;
	padding:5px;
}
input[type="text"], select{
	font-weight:bold;
}
textarea{
background-color:#FFFFFF;
padding:0;
}
.social_media{
display:block;
background-color:#2C76A9;
color:#FFFFFF;
font-weight:bold;
padding:5px;
border-radius:5px;
}
.vote_table table{
border-spacing:3px;
border-collapse:separate;

}
.nom_btn{
background: none repeat scroll 0 0 #8DC469;
border-radius:5px;
padding:5px;
font-weight:bold;
color:#FFFFFF;
box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.15);
border:1px solid #AFE57A;
}
.dark{
 	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #8DC469;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #AFE57A #305010 #497A18 #AFE57A;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 1.25em;
    padding: 5px 10px;
    position: relative;
    right: 0px;
    text-shadow: 1px 1px 1px #407120;
    top: -5px;
    z-index: 9999;
	float:right;
	
}
.nomination{
    width:auto;
    
}
input[type="submit"]{
color:#FFFFFF;
}